
 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Trust Worthy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Automoviles</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Seguro de vida</a>
          </li>  
          
          <li class="nav-item">
            <a class="nav-link" href="#">Vivienda</a>
          </li> 
          
          <li class="nav-item">
            <a class="nav-link" href="#">Contactanos</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>