<ul class="nav nav-pills flex-column text-center bg-info">
    <li class="nav-item">
      <a routerLink="/dinamico2">dinamico2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Disabled</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li> 

      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li> 

  </ul>
  <hr class="d-sm-none">
